html {
    height: 100%;
}

body {
    display: flex;
      
}

.container {
    display: flex;
    width: 100%;
    height: 90%;
    background-color: #9c55bb;
   align-items: baseline;
   justify-content: center;
}

.container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.box {
    display: flex;
}
.box .box1 {
    background-color: #1fcd6c;
    
}
.box .box2 {
    background-color: #3496d6;
}

.box .box3 {
    background-color: #344a61;
    width: 22%;
    height: 48%;
    font-size: 30px;
}

.box .box4 {
    background-color: #9c55bb;
}

.box .box5 {
    background-color: #e78000;
}